@import url("normalize.css");
/* variables */
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background-color: white;
  color: #495461;
  /* toggle radio button */
  /* END toggle radio button */
  /* header */
  /* END header */
  /* main wrap section content*/
  /* END main wrap section content*/
}
body h1 {
  margin: 10.9375% 0 9.0625% 0;
  font-weight: 400;
  font-size: 2.445833em;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
body h2 {
  margin: 4.6875% 0 6.09375% 0;
  font-weight: 400;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.809375em;
  text-align: left;
}
body h3 {
  margin-bottom: 3.125%;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.274791em;
  text-align: left;
}
body .l-client-info {
  padding: 0;
  font-weight: 400;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.274791em;
  text-align: left;
}
body .is-section-bottom-line {
  border-bottom: 2pt solid #c2d0dc;
}
body .is-section-bottom-line-dotted {
  border-bottom: 2pt dotted #c2d0dc;
}
body .l-title-color {
  color: #0080C5;
}
body .l-h3-color {
  padding: 0;
  color: #495461;
}
body .l-button-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}
body .l-button-style {
  margin: 7.8125% 0;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: background 0.5s ease;
}
body .is-hidden {
  display: none;
}
body .input-style {
  width: 95%;
  border: 1px solid #aaa;
  padding-left: 4.6875%;
}
body .input-style :focus,
body .input-style textarea:focus {
  outline: none;
}
body .input-style:required:valid {
  background: #fff no-repeat 96.41% center;
}
body .create-button-info {
  display: block;
  cursor: pointer;
  float: right;
  width: 80px;
  height: 80px;
  background-size: cover;
  background: #f0f4f6 url("../img/create-icon.png") no-repeat center;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}
body .create-button-info:hover {
  background-color: #d4dde1;
}
body .block-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14.0625%;
}
body .block-info-toggle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5.4687%;
  padding-bottom: 5%;
}
body .toggle-bg {
  background: #ffab46;
  border-radius: 30px;
  display: block;
  float: right;
  height: 30px;
  position: relative;
  width: 70px;
}
body .toggle-bg .radio-toggle {
  height: 30px;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 70px;
  z-index: 2;
  zoom: 1;
  cursor: pointer;
}
body .toggle-bg .switch {
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 1px 1px #65727b, 0 5px 10px #b6bdc2;
  display: block;
  float: left;
  height: 40px;
  left: 31px;
  position: relative;
  top: -5px;
  transition: left .2s ease;
  width: 40px;
  z-index: 1;
}
body .toggle-bg .radio-toggle:checked ~ .switch {
  left: -1px;
}
body .toggle-bg .radio-toggle ~ :checked ~ .switch {
  left: 31px;
}
body .toggle-bg .radio-toggle:checked {
  z-index: 0;
}
body .wrap {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 577px;
}
body .l-header-main {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
body .l-header-main .header-wrap {
  padding-top: 1.875%;
  padding-bottom: 1.875%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* button back-page */
  /* END button back-page */
  /* logo */
  /* END logo */
  /* header-search */
  /* END header-search */
  /* header-nav */
  /* END header-nav */
}
body .l-header-main .header-wrap .back-page {
  width: 2.3437%;
  height: 4.6875%;
}
body .l-header-main .header-wrap .header-logo {
  width: 10.625%;
  height: 11.71875%;
  margin: 0 15% 0 32%;
}
body .l-header-main .header-wrap .header-search {
  width: 8.25%;
  height: 6.5626%;
}
body .l-header-main .header-wrap .header-nav {
  width: 1.5625%;
  height: 6.5626%;
}
body .l-header-main .header-wrap .img-header {
  display: block;
  max-width: 100%;
}
body .main-wrap {
  /* section photo settings*/
  /* END section photo settings*/
  /* section profile settings */
  /* END section profile settings */
  /* section contact-info settings */
  /* END section contact-info settings */
  /* section email-delivery settings */
  /* END section email-delivery settings */
  /* section email-delivery settings */
  /* END section email-delivery settings */
}
body .main-wrap .l-photo .l-photo-profile {
  margin: 0 auto;
  width: 34.375%;
  height: 34.375%;
}
body .main-wrap .l-photo .l-photo-profile .my-photo {
  display: block;
  max-width: 100%;
}
body .main-wrap .l-photo .add-photo {
  display: block;
  font-size: 1.442083em;
  text-align: center;
  text-decoration: none;
  margin: 4.21875% 0 7.8125% 0;
}
body .main-wrap .l-profile-info .change-password {
  background-color: #8596A4;
  transition: background 0.5s ease;
}
body .main-wrap .l-profile-info .change-password:hover {
  background-color: #a3b6c6;
}
body .main-wrap .l-contact-info .contact-form input:focus,
body .main-wrap .l-contact-info .contact-form .contact_form textarea:focus {
  border: 1px solid #aaa;
  outline: none;
}
body .main-wrap .l-contact-info .contact-form input:required:valid {
  background-image: url("../img/valid.png");
}
body .main-wrap .l-contact-info .h3-top-margin {
  margin-top: 8.6956%;
}
body .main-wrap .l-email-delivery .block-info {
  margin-bottom: 6.25%;
}
body .main-wrap .l-email-delivery .l-client-info {
  width: 84%;
}
body .main-wrap .l-create-password {
  margin: 7.8125% 0;
  padding: 6.25% 4.6875% 2.25% 4.6875%;
  background-color: #f1f4f6;
  border-radius: 10px;
  /* social-offices */
  /* END social-offices */
}
body .main-wrap .l-create-password .password-form {
  padding-bottom: 7.8125%;
}
body .main-wrap .l-create-password .password-form input:focus,
body .main-wrap .l-create-password .password-form .contact_form textarea:focus {
  border: 1px solid #aaa;
  outline: none;
}
body .main-wrap .l-create-password .password-form input:required:valid {
  background-image: url("../img/pass-icon.png");
}
body .main-wrap .l-create-password .h2-center {
  text-align: center;
}
body .main-wrap .l-create-password .social-offices {
  margin: 10.8695% auto 0;
  width: 100%;
  padding-bottom: 9.7826%;
  /* group-social ul*/
  /* END group-social */
}
body .main-wrap .l-create-password .social-offices .group-social {
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* li in ul(group-social) */
  /* END li in ul(group-social) */
}
body .main-wrap .l-create-password .social-offices .group-social li {
  list-style-type: none;
  display: block;
  /* social-icon element a*/
  /* END social-icon element a */
  /* style for li in social-group */
  /* social-style 3*/
  /* END social-style 3*/
  /* social-style 1*/
  /* END social-style 1*/
  /* social-style 2 */
  /* END social-style 2 */
  /* END style for li in social-group */
}
body .main-wrap .l-create-password .social-offices .group-social li .social-icon {
  padding: 0;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f2f4f5;
  text-align: center;
  color: white;
}
body .main-wrap .l-create-password .social-offices .group-social li .social-icon i {
  font-size: 35px;
  margin-top: 30%;
}
body .main-wrap .l-create-password .social-offices .group-social li .social-icon:hover {
  transition: 0.3s;
}
body .main-wrap .l-create-password .social-offices .group-social li:nth-child(3) .social-icon {
  background-color: #6081c4;
}
body .main-wrap .l-create-password .social-offices .group-social li:nth-child(3) .social-icon:hover {
  background-color: #6f93de;
}
body .main-wrap .l-create-password .social-offices .group-social li:nth-child(1) .social-icon {
  background-color: #2797cf;
}
body .main-wrap .l-create-password .social-offices .group-social li:nth-child(1) .social-icon:hover {
  color: white;
  background-color: #40b5f0;
}
body .main-wrap .l-create-password .social-offices .group-social li:nth-child(2) .social-icon {
  background-color: #e62b33;
}
body .main-wrap .l-create-password .social-offices .group-social li:nth-child(2) .social-icon:hover {
  background-color: #fb4850;
}
body .main-wrap .l-create-password .save-change {
  background-color: #11c49a;
}
body .main-wrap .l-create-password .save-change:hover {
  background-color: #1cdcaf;
}
body .main-wrap .l-create-password .cancel-change {
  color: #8596a4;
}
body .main-wrap .l-create-password .cancel-change:hover {
  background-color: #f2424a;
  color: white;
}
/* END body */
